<% if current_user %>
    <h1><%= current_user.nickname %></h1>
    <p><%= link_to "Edit Account", edit_user_registration_path(current_user) %></p>
    <%= image_tag current_user.cropped(300,300),
    width: 300 if current_user.avatar.attached? %>
<% else %>
    Please <%= link_to "Sign Up or Login", "/users/sign_in" %>:
<% end %>

<hr />
<%= params %>



